<ion-content class="timer-content">
   <ion-grid>
    <ion-row>
      <ion-col size="12" class="flex center">
        <h1>{{ started === false ? '---' : timerRunning === true ? state : 'Paused' }}</h1>
        <div class="clock">
          <svg width="331.11mm" height="331.11mm" version="1.1" viewBox="0 0 331.11 331.11" xmlns="http://www.w3.org/2000/svg">
            <defs>
             <filter id="filter1264" color-interpolation-filters="sRGB">
              <feFlood flood-color="rgb(0,255,0)" result="flood"/>
              <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1"/>
              <feGaussianBlur in="composite1" result="blur" stdDeviation="8"/>
              <feOffset dx="0" dy="0" result="offset"/>
              <feComposite in="SourceGraphic" in2="offset" result="composite2"/>
             </filter>
            </defs>
            <circle cx="165.56" cy="165.55" r="137.96" stroke="#0f0" stroke-width="25" fill="none"/>
           </svg>

           <div class="time-data">
              <span class="time">{{ math.ceil(focusTime / 60) }}</span>
              <span>minutes</span>
           </div>
           <div class="controls">
            <ion-icon color="primary" (click)="start()" *ngIf="!timerRunning" name="play-circle"></ion-icon>
            <ion-icon color="primary" (click)="pause()" *ngIf="timerRunning" name="pause-circle"></ion-icon>
            <ion-icon color="primary" (click)="reset()" name="refresh-circle"></ion-icon>
           </div>
        </div>
      </ion-col>
      <ion-col size="12" class="flex center">
        <ion-icon name="checkbox" [ngClass]="{'complete': checkMarks >= 1}"></ion-icon>
        <ion-icon name="checkbox" [ngClass]="{'complete': checkMarks >= 2}"></ion-icon>
        <ion-icon name="checkbox" [ngClass]="{'complete': checkMarks >= 3}"></ion-icon>
        <ion-icon name="checkbox" [ngClass]="{'complete': checkMarks >= 4}"></ion-icon>
        </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Focus Time</ion-card-title>
            <ion-card-subtitle>{{ math.ceil(focusTime / 60) }} minutes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Short Break</ion-card-title>
            <ion-card-subtitle>{{ math.ceil(shortBreakTime / 60) }} minutes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Long Break</ion-card-title>
            <ion-card-subtitle>{{ math.ceil(longBreakTime / 60) }} minutes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
