

h1, h4 {
    width: 100%;
    text-align: center;
}

.clock {
    position: relative;
    margin-bottom: 50px;

    .time-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .time {
        font-size: 5em;
    }

    span {
        display: block;
        text-align: center;
    }
}

svg {
    width: auto;
    height: 200px;
    align-self: center;
}

ion-icon[name=play-circle], ion-icon[name=pause-circle], ion-icon[name=refresh-circle] {
  font-size: 4em;
  cursor: pointer
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -40px;
}

ion-card {
  text-align: center;
}

ion-icon[name=checkmark-circle] {
  font-size: 3em;
  color: #d3d3d3;

  &.complete {
      color: rgb(0, 255, 0);
  }
}

:host-context( .dark ) {
	svg tspan {
      fill: #ffffff;
  }

  ion-icon[name=checkmark-circle] {
    color: #3f3f3f;

    &.complete {
      color: rgb(0, 255, 0);
  }
  }
}
