

h1, h4 {
    width: 100%;
    text-align: center;
}

svg {
    width: auto;
    height: 200px;
    align-self: center;

    .text-group {
        transform: translate(12px, -20px);
    }

    tspan {
        fill: #000000;
    }
} 

ion-card {
    width: 40%;
}

ion-icon[name=checkbox] {
    color: rgb(0, 255, 0);
    font-size: 5em;
}

:host-context( .dark ) {
	svg tspan {
        fill: #ffffff;
    }
}